.mission-section{
    max-width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/gallery1.jpg);
.mission{
    max-width: 1000px;
    display: flex;
    img{
        max-width: 50%;
    }
}
}